.body {
  color: #2E3E4F;
  font-family: 'Work Sans', sans-serif;
  margin: 0; }

.body[data-noscroll="true"] {
  overflow: hidden; }

.bodyText {
  line-height: 1.5; }

.callToActionButton {
  font-weight: 700;
  color: transparent;
  padding: .8rem 1.4rem;
  background-color: #fff;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer; }

.callToActionButton_color_white {
  color: #119DEA;
  background-color: #fff; }

.callToActionButton_color_blue {
  color: #fff;
  background-color: #119DEA; }

.container {
  padding: 0 1.5rem;
  max-width: 65rem;
  margin: 0 auto; }

.desktopNavbar {
  display: none; }
  @media screen and (min-width: 55.5rem) {
    .desktopNavbar {
      display: inline-block; } }

.header {
  background-image: linear-gradient(to top right, #8249F0, #119DEA);
  overflow: hidden; }

.image {
  max-width: 100%; }


.introPara1 {
  color: #fff;
  font-size: 2.7rem;
  font-weight: 300; }

.introPara2 {
  color: #fff; }

.laptop {
  transform: perspective(500px) rotate3d(1, -1, 0, 40deg); }

.list {
  list-style: none;
  padding-left: 0;
  margin: 0; }

.logo {
  line-height: 5rem;
  color: #fff;
  margin: 0; }

.logoAndNavbarContainer {
  text-align: center;
  height: 5rem;
  position: relative; }

.menuButton {
  display: inline-block;
  width: 3rem;
  padding: .7rem;
  background-color: transparent;
  border: none;
  margin-top: .9rem;
  cursor: pointer; }
  @media screen and (min-width: 55.5rem) {
    .menuButton {
      display: none; } }

.services {
  padding: 4rem 0; }

.servicesPara1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300; }

.servicesPara2 {
  text-align: center; }

.sidebar {
  text-align: left;
  width: 18.75rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transform: translateX(-100%);
  transition: .3s transform; }
  .menuButton[aria-pressed="true"] ~ .sidebar {
    transform: translateX(0); }

.sidebarOverlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .menuButton[aria-pressed="true"] ~ .sidebarOverlay {
    display: block; }

.desktopNavbar__title {
  position: absolute;
  left: -100rem; }

.desktopNavMenu__item {
  display: inline-block; }

.desktopNavMenu__link {
  display: block;
  line-height: 5rem;
  color: #fff;
  text-decoration: none;
  padding: 0 1.2rem;
  position: relative; }
  .desktopNavMenu__link::before {
    content: '';
    width: 1.4rem;
    height: .2rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s background-color, .2s box-shadow; }
  .desktopNavMenu__link:hover::before, .desktopNavMenu__link:focus::before {
    background-color: #fff;
    box-shadow: 0 0 10px #fff; }

.header__intro {
  margin-bottom: 2rem; }
  @media screen and (min-width: 55.5rem) {
    .header__intro {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin-right: -.4rem; } }

.header__laptop {
  display: block;
  width: 60%;
  margin: 0 auto; }
  @media screen and (min-width: 55.5rem) {
    .header__laptop {
      display: inline-block;
      vertical-align: top;
      width: 45%;
      margin-left: 5%; } }

.header__logoAndNavbarContainer {
  margin-bottom: 3rem; }

.intro__introPara1 {
  margin: 0; }

.intro__introPara2 {
  margin: 2rem 0; }

.logoAndNavbarContainer__callToActionButton {
  margin-top: 1.23rem;
  display: none; }
  @media screen and (min-width: 55.5rem) {
    .logoAndNavbarContainer__callToActionButton {
      display: block;
      float: right; } }

.logoAndNavbarContainer__logo {
  display: inline-block; }
  @media screen and (min-width: 55.5rem) {
    .logoAndNavbarContainer__logo {
      float: left; } }

.logoAndNavbarContainer__menuButton {
  position: absolute;
  left: 0; }

.mobileNavbar__title {
  position: absolute;
  left: -100rem; }

.mobileNavMenu__link {
  display: block;
  text-decoration: none;
  color: #2E3E4F;
  padding: 1rem 0 1rem 3rem;
  transition: .2s background-color; }
  .mobileNavMenu__link:hover, .mobileNavMenu__link:focus {
    background-color: #d3e9fb; }

.services__servicesPara1 {
  margin: 0; }

.services__title {
  position: absolute;
  left: -100rem; }

.sidebar__callToActionButton {
  margin: 1rem 0 0 1.6rem; }
