.body {
  color: #2E3E4F;
  font-family: 'Work Sans', sans-serif;
  margin: 0; }

.body[data-noscroll="true"] {
  overflow: hidden; }

/* =============================
Countries
================================ */
.countries {
  text-align: center;
  background-color: #F5F9F9;
  padding: 2rem 0 0; }

/* --- title --- */
.countries__title {
  position: absolute;
  left: -100rem; }

/* =============================
Jumbotron (section)
================================ */
.countries__jumbotron {
  margin: 0; }

/* =============================
Body Text
================================ */
.countries__bodyText {
  max-width: 47rem;
  margin-left: auto;
  margin-right: auto; }

/* =============================
Modal
================================ */
.modal {
  display: inline-block;
  width: 15rem;
  padding: 1.8rem 1rem;
  background-color: #fff;
  border-radius: .2rem;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5); }

/* =============================
Jumbotron (Modal)
================================ */
.modal__jumbotron {
  margin: 0; }

/* =============================
Body Text (Modal)
================================ */
.modal__bodyText {
  margin: 1.5rem 0 1.9rem; }

/* =============================
Join Link
================================ */
.joinLink {
  color: #6F8196; }

/* =============================
Country List
================================ */
.countryList {
  text-align: center; }

.countries__countryList {
  margin-top: 4rem;
  margin-bottom: 0; }

/* =============================
Country 
================================ */
.country {
  font-size: .9rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 19.3%;
  min-width: 200.72px;
  padding: 0 1.5rem; }
  @media screen and (min-width: 28.9375em) {
    .country {
      text-align: left; } }

.countryList__country {
  margin-right: -.3rem;
  margin-bottom: 3rem; }

/* =============================
Country Name
================================ */
.countryName {
  font-weight: 500; }

.country__countryName {
  margin: 0; }

/* =============================
Country Location
================================ */
.countryLocation {
  color: #6F8196; }

.country__countryLocation {
  margin: .9rem 0; }

/* =============================
Customer Services Title
================================ */
.customerServicesTitle {
  font-weight: 500;
  color: #2B7AF3; }

.country__customerServicesTitle {
  margin: 0 0 1rem; }

/* =============================
Customer Services List
================================ */
/* --- item --- */
.customerServices__item:first-child {
  margin-bottom: 1rem; }

/* =============================
Contact Icon
================================ */
.contactIcon {
  width: 1rem;
  vertical-align: middle; }

.customerServices__contactIcon {
  margin-right: 0rem; }

/* ===============================
Footer
================================== */
.footer {
  text-align: center;
  padding-bottom: 2rem;
  background-color: #F5F9F9; }
  @media screen and (min-width: 34.375em) {
    .footer {
      text-align: left; } }

/* ===============================
Logo
================================== */
.logo {
  vertical-align: middle; }

.footer__logo {
  margin-right: 1rem !important; }

/* ===============================
Facebook
================================== */
.facebook {
  width: 2.2rem;
  vertical-align: middle; }

/* ===============================
Copyright
================================== */
.copyright {
  color: #6F8196; }

@media screen and (min-width: 34.375em) {
  .footer__copyright {
    float: right; } }

/* ===================================== 
Header 
===================================== */
.header {
  background-image: linear-gradient(to top right, #8249F0, #119DEA);
  overflow: hidden; }

/* ===================================== 
Logo and navigation bar container 
===================================== */
.logoAndNavbarContainer {
  text-align: center;
  height: 5rem;
  position: relative; }

.header__logoAndNavbarContainer {
  margin-bottom: 3rem; }

/* ===================================== 
Menu Button
===================================== */
.menuButton {
  display: inline-block;
  width: 3rem;
  padding: .7rem;
  background-color: transparent;
  border: none;
  margin-top: .9rem;
  cursor: pointer; }
  @media screen and (min-width: 55.5rem) {
    .menuButton {
      display: none; } }

.logoAndNavbarContainer__menuButton {
  position: absolute;
  left: 0; }

/* ===================================== 
Sidebar
===================================== */
.sidebar {
  text-align: left;
  width: 18.75rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transform: translateX(-100%);
  transition: .3s transform; }
  .menuButton[aria-pressed="true"] ~ .sidebar {
    transform: translateX(0); }

/* ===================================== 
Sidebar Overlay
===================================== */
.sidebarOverlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .menuButton[aria-pressed="true"] ~ .sidebarOverlay {
    display: block; }

/* ===================================== 
Mobile Navigation Bar
===================================== */
/* --- title --- */
.mobileNavbar__title {
  position: absolute;
  left: -100rem; }

/* ===================================== 
Mobile Navigation Menu
===================================== */
.mobileNavMenu {
  margin: 0; }

/* --- link --- */
.mobileNavMenu__link {
  display: block;
  text-decoration: none;
  color: #2E3E4F;
  padding: 1rem 0 1rem 3rem;
  transition: .2s background-color; }
  .mobileNavMenu__link:hover, .mobileNavMenu__link:focus {
    background-color: #d3e9fb; }

/* ===================================== 
Logo
===================================== */
.logo {
  line-height: 5rem;
  color: #fff;
  margin: 0; }

.logoAndNavbarContainer__logo {
  display: inline-block; }
  @media screen and (min-width: 55.5rem) {
    .logoAndNavbarContainer__logo {
      float: left; } }

/* ===================================== 
Desktop Navigation Bar 
===================================== */
.desktopNavbar {
  display: none; }
  @media screen and (min-width: 55.5rem) {
    .desktopNavbar {
      display: inline-block; } }

/* --- title --- */
.desktopNavbar__title {
  position: absolute;
  left: -100rem; }

/* ===================================== 
Desktop Navigation Menu 
===================================== */
.desktopNavMenu {
  margin: 0; }

/* --- item --- */
.desktopNavMenu__item {
  display: inline-block; }

/* --- link --- */
.desktopNavMenu__link {
  display: block;
  line-height: 5rem;
  color: #fff;
  text-decoration: none;
  padding: 0 1.2rem;
  position: relative; }
  @media screen and (min-width: 65rem) {
    .desktopNavMenu__link {
      padding: 0 1.9rem; } }
  .desktopNavMenu__link::before {
    content: '';
    width: 1.4rem;
    height: .2rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s background-color, .2s box-shadow; }
  .desktopNavMenu__link:hover::before, .desktopNavMenu__link:focus::before {
    background-color: #fff;
    box-shadow: 0 0 10px #fff; }

/* ===================================== 
Intro
===================================== */
.header__intro {
  margin-bottom: 2rem; }
  @media screen and (min-width: 55.5rem) {
    .header__intro {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin-right: -.4rem; } }

/* ===================================== 
Jumbotron
===================================== */
.intro__jumbotron {
  margin: 0; }

/* ===================================== 
Intro second paragraph
===================================== */
.introPara2 {
  color: #fff; }

.intro__introPara2 {
  margin: 2rem 0; }

/* ===================================== 
Laptop
===================================== */
.laptop {
  transform: perspective(500px) rotate3d(1, -1, 0, 40deg); }

.header__laptop {
  display: block;
  width: 60%;
  margin: 0 auto; }
  @media screen and (min-width: 55.5rem) {
    .header__laptop {
      display: inline-block;
      vertical-align: top;
      width: 45%;
      margin-left: 5%; } }

/* =======================================
Services
========================================== */
.services {
  padding: 4rem 0;
  position: relative;
  overflow: hidden; }

.services::before {
  content: '';
  position: absolute;
  top: 21rem;
  right: 0;
  z-index: -1;
  width: 180%;
  height: 35rem;
  background-color: #F0F6F6;
  transform-origin: 100% 0;
  transform: rotate(-24deg); }

/* --- title --- */
.services__title {
  position: absolute;
  left: -100rem; }

/* =======================================
First Paragraph (Jumbotron)
========================================== */
.services__jumbotron {
  text-align: center;
  margin: 0; }

/* =======================================
Second Paragraph
========================================== */
.servicesPara2 {
  font-size: 1.05rem;
  text-align: center; }

/* =======================================
Service List
========================================== */
.services__serviceList {
  margin-top: 6rem; }

/* --- Item --- */
.serviceList__item {
  clear: both; }
  .serviceList__item:not(:last-child) {
    margin-bottom: 8rem; }
  .serviceList__item::after {
    content: "";
    display: block;
    clear: both; }

/* =======================================
Service
========================================== */
/* --- content --- */
.service__content {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center; }
  @media screen and (min-width: 55.5rem) {
    .service__content {
      text-align: left;
      width: 42%; } }

@media screen and (min-width: 55.5rem) {
  .serviceList__item:not(:nth-child(2)) .service__content {
    float: left;
    margin-left: 3rem; } }

@media screen and (min-width: 55.5rem) {
  .serviceList__item:nth-child(2) .service__content {
    float: right; } }

/* --- title --- */
.service__title {
  color: #6F8196;
  font-size: 1rem;
  font-weight: 400;
  margin: 0; }

/* --- Image --- */
.service__image {
  display: block;
  width: 27rem;
  margin: 0 auto 1rem; }
  @media screen and (min-width: 55.5rem) {
    .service__image {
      width: 50%; } }

@media screen and (min-width: 55.5rem) {
  .serviceList__item:not(:nth-child(2)) .service__image {
    float: right; } }

@media screen and (min-width: 55.5rem) {
  .serviceList__item:nth-child(2) .service__image {
    float: left; } }

/* =======================================
Service Description
========================================== */
.service__jumbotron {
  margin: .5rem 0 1.5rem; }

/* ===================================== 
Container 
===================================== */
.container {
  padding: 0 1.5rem;
  max-width: 65rem;
  margin: 0 auto; }

/* ===================================== 
Body Text 
===================================== */
.bodyText {
  line-height: 1.5; }

.bodyText_color_white {
  color: #fff; }

.bodyText_color_grey {
  color: #6F8196; }

/* =====================================
Jumbo
======================================== */
.jumbotron_size_small {
  font-size: 1.5rem; }

.jumbotron_size_med {
  font-size: 2rem; }

.jumbotron_size_large {
  font-size: 2.8rem; }

.jumbotron_color_white {
  color: #fff; }

.jumbotron_weight_light {
  font-weight: 300; }

.jumbotron_weight_bold {
  font-weight: 600; }

/* ===================================== 
Call-to-action buttons 
===================================== */
.callToActionButton {
  font-weight: 700;
  color: transparent;
  padding: 1rem 1.6rem;
  background-color: #fff;
  border: none;
  border-radius: 1.4rem;
  cursor: pointer; }

.logoAndNavbarContainer__callToActionButton {
  margin-top: 1.23rem;
  display: none; }
  @media screen and (min-width: 55.5rem) {
    .logoAndNavbarContainer__callToActionButton {
      display: block;
      float: right; } }

.sidebar__callToActionButton {
  margin: 1rem 0 0 1.6rem; }

.callToActionButton_color_white {
  color: #119DEA;
  background-color: #fff; }

.callToActionButton_color_blue {
  color: #fff;
  background-color: #119DEA; }

/* ===================================== 
Image 
===================================== */
.image {
  max-width: 100%; }

/* ===================================== 
List 
===================================== */
.list {
  list-style: none;
  padding-left: 0; }

/* ===============================
Statistics
================================== */
.statistics {
  text-align: center;
  padding: 6rem 0;
  background-color: #F5F9F9;
  position: relative;
  overflow: hidden; }

/* --- title --- */
.statistics__title {
  position: absolute;
  left: -100rem; }

/* ===============================
First Paragraph
================================== */
.statistics__jumbotron {
  max-width: 35rem;
  margin: 0 auto; }

/* ===============================
Second Paragraph
================================== */
.statisticsPara2 {
  max-width: 35rem; }

.statistics__statisticsPara2 {
  margin: 2rem auto 4rem; }

/* ===============================
Image
================================== */
.statisticsImage {
  width: 33rem; }

/* ===============================
Phone
================================== */
.phone {
  display: none;
  width: 20rem;
  position: absolute;
  top: 3rem;
  left: -5rem;
  transform: rotate(-20deg); }
  @media screen and (min-width: 65rem) {
    .phone {
      display: block; } }

/* ===============================
Tablet
================================== */
.tablet {
  display: none;
  width: 20rem;
  position: absolute;
  top: 3rem;
  right: -8rem;
  transform: rotate(-20deg); }
  @media screen and (min-width: 65rem) {
    .tablet {
      display: block; } }
