@import 'modules/colors';
@import 'modules/breakpoints';


/* =============================
Countries
================================ */
.countries {
  text-align: center;
  padding: 2rem 0 0;
}

/* --- title --- */
.countries__title {
  position: absolute;
  left: -100rem;
}

/* =============================
Jumbotron (section)
================================ */
.countries__jumbotron {
  margin: .4rem 0 1rem;
}

/* =============================
Body Text
================================ */
.countries__bodyText {
  max-width: 47rem;
  margin: 0 auto;
}

/* =============================
Country List
================================ */
.countryList {
  text-align: center;
}

.countries__countryList {
  margin-top: 4rem;
  margin-bottom: 0;
}

/* =============================
Country 
================================ */
.country {
  font-size: .9rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 19.3%;
  min-width: 200.72px;
  padding: 0 1.5rem;

  @media screen and (min-width: $break-countries) {
    text-align: left;
  }
}

.countryList__country {
  margin-right: -.3rem;
  margin-bottom: 3rem;
}

/* =============================
Country Name
================================ */
.country__countryName {
  font-weight: 500;
  margin: 0;
}

/* =============================
Country Location
================================ */
.country__countryLocation {
  color: $light-grey;
  margin: .9rem 0;
}

/* =============================
Customer Services Title
================================ */
.country__customerServicesTitle {
  font-weight: 500;
  color: $brand-color;

  margin: 0 0 1rem;
}

/* =============================
Customer Services List
================================ */
/* --- item --- */
.customerServices__item:first-child {
  margin-bottom: 1rem;
}

/* =============================
Contact Icon
================================ */
.customerServices__contactIcon {
  width: 1rem;
  vertical-align: middle;
  margin-right: 0rem;
}

/* =============================
Map
================================ */
.map {
  max-width: 53rem;
  position: relative;
}

.countries__map {
  margin: 2rem auto 0;
}

/* --- item --- */
.flagList__item {
  position: absolute;
}

// modifiers
.flagList__item_country_kuwait {
  top: 35.5%;
  left: 58%;
}
.flagList__item_country_egypt {
  top: 35.5%;
  left: 53%;
}
.flagList__item_country_london {
  top: 22%;
  left: 44.5%;
}
.flagList__item_country_nigeria {
  top: 51%;
  left: 46%;
}
.flagList__item_country_poland {
  top: 20%;
  left: 51%;
}

/* --- Pointer --- */
.flagList__pointer {
  display: block;
  margin: -.2rem auto 0;
  width: .55rem;
  height: .55rem;
  background-color: #2B7AF3;
  border: .4rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba($color: #000, $alpha: .2)
}

/* =============================
Modal
================================ */
.modal {
  display: none;
  width: 15rem;
  padding: 1.6rem 1rem;
  background-color: #fff;
  border-radius: .2rem;
  box-shadow: 0 0 10px -1px rgba($color: #000, $alpha: .2);

  @media screen and (min-width: $break-modal-med) {
    display: block;
  }
}

.map__modal {
  position: absolute;
  top: 12%;
  left: 0;

  @media screen and (min-width: $break-modal-large) {
    left: -14%;
  }
}

/* =============================
Jumbotron (Modal)
================================ */
.modal__jumbotron {
  margin: 0;
}

/* =============================
Body Text (Modal)
================================ */
.modal__bodyText {
  margin: 1.5rem 0 1.9rem;
}

/* =============================
Join Link
================================ */
.joinLink {
  font-size: .9rem;
  color: $light-grey;
}