@import 'modules/colors';
@import 'modules/breakpoints';


/* =============================
Countries
================================ */
.countries {
  text-align: center;
  background-color: $lighter-grey;
  padding: 2rem 0 0;
}

/* --- title --- */
.countries__title {
  position: absolute;
  left: -100rem;
}

/* =============================
Jumbotron (section)
================================ */
.countries__jumbotron {
  margin: 0;
}

/* =============================
Body Text
================================ */
.countries__bodyText {
  max-width: 47rem;
  margin-left: auto;
  margin-right: auto;
}

/* =============================
Modal
================================ */
.modal {
  display: inline-block;

  width: 15rem;
  padding: 1.8rem 1rem;
  background-color: #fff;
  border-radius: .2rem;
  box-shadow: 0 0 10px -1px rgba($color: #000, $alpha: .5);
}

/* =============================
Jumbotron (Modal)
================================ */
.modal__jumbotron {
  margin: 0;
}

/* =============================
Body Text (Modal)
================================ */
.modal__bodyText {
  margin: 1.5rem 0 1.9rem;
}

/* =============================
Join Link
================================ */
.joinLink {
  color: $light-grey;
}

/* =============================
Country List
================================ */
.countryList {
  text-align: center;
}

.countries__countryList {
  margin-top: 4rem;
  margin-bottom: 0;
}

/* =============================
Country 
================================ */
.country {
  font-size: .9rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 19.3%;
  min-width: 200.72px;
  padding: 0 1.5rem;

  @media screen and (min-width: $break-countries) {
    text-align: left;
  }
}

.countryList__country {
  margin-right: -.3rem;
  margin-bottom: 3rem;
}

/* =============================
Country Name
================================ */
.countryName {
  font-weight: 500;
}

.country__countryName {
  margin: 0;
}

/* =============================
Country Location
================================ */
.countryLocation {
  color: $light-grey;
}

.country__countryLocation {
  margin: .9rem 0;
}

/* =============================
Customer Services Title
================================ */
.customerServicesTitle {
  font-weight: 500;
  color: $brand-color;
}

.country__customerServicesTitle {
  margin: 0 0 1rem;
}

/* =============================
Customer Services List
================================ */
/* --- item --- */
.customerServices__item:first-child {
  margin-bottom: 1rem;
}

/* =============================
Contact Icon
================================ */
.contactIcon {
  width: 1rem;
  vertical-align: middle;
}

.customerServices__contactIcon {
  margin-right: 0rem;
}