@import 'modules/colors';
@import 'modules/breakpoints';

/* ===============================
Statistics
================================== */
.statistics {
  text-align: center;
  padding: 6rem 0;
  background-color: $lighter-grey;

  position: relative;

  overflow: hidden;
}

/* --- title --- */
.statistics__title {
  position: absolute;
  left: -100rem;
}

/* ===============================
First Paragraph
================================== */
.statistics__jumbotron {
  max-width: 35rem;
  margin: 0 auto;
}

/* ===============================
Second Paragraph
================================== */
.statisticsPara2 {
  max-width: 35rem;
}

.statistics__statisticsPara2 {
  margin: 2rem auto 4rem;
}

/* ===============================
Image
================================== */
.statisticsImage {
  width: 33rem;
}

/* ===============================
Phone
================================== */
.phone {
  display: none;
  width: 20rem;
  position: absolute;
  top: 3rem;
  left: -5rem;

  transform: rotate(-20deg);

  @media screen and (min-width: $break-large) {
    display: block;
  }
}

/* ===============================
Tablet
================================== */
.tablet {
  display: none;
  width: 20rem;
  position: absolute;
  top: 3rem;
  right: -8rem;

  transform: rotate(-20deg);

  @media screen and (min-width: $break-large) {
    display: block;
  }
}