@import 'modules/colors';
@import 'modules/breakpoints';

/* ===============================
Statistics
================================== */
.statistics {
  text-align: center;
  padding: 5rem 0;
  background-image:
    linear-gradient(
      to bottom, 
      $lighter-grey, #fff
    );

  position: relative;
}

/* --- title --- */
.statistics__title {
  position: absolute;
  left: -100rem;
}

/* ===============================
First Paragraph
================================== */
.statistics__jumbotron {
  max-width: 35rem;
  margin: 0 auto;
}

/* ===============================
Second Paragraph
================================== */
.statistics__bodyText {
  max-width: 35rem;
  margin: 2rem auto 4rem;
}

/* ===============================
Image
================================== */
.statisticsImage {
  width: 35rem;
}

/* ===============================
Phone
================================== */
.phone {
  display: none;
  width: 15rem;
  position: absolute;
  top: 3rem;
  left: 0;
  top: -4.3rem;

  @media screen and (min-width: $break-large) {
    display: block;
  }

  @media screen and (min-width: $break-xlarge) {
    width: 20rem;                   
  }
}

/* ===============================
Tablet
================================== */
.tablet {
  display: none;
  width: 15rem;
  position: absolute;
  top: 2rem;
  right: 0;

  @media screen and (min-width: $break-large) {
    display: block;
  }

  @media screen and (min-width: $break-xlarge) {
    width: 20rem;
  }
}