@import '../../sass-modules/colors';

.services {
  padding: 4rem 0;
  position: relative;
  overflow: hidden; 
}

.services::before {
  content: '';
  position: absolute;
  top: 21rem;
  right: 0;
  z-index: -1;
  width: 180%;
  height: 35rem;
  background-color: $ribbon;

  transform-origin: 100% 0;
  transform: rotate(-24deg);
}