@import '../../../sass-modules/breakpoints';

.header__intro {
  margin-bottom: 2rem;
  
  @media screen and (min-width: $break-sidenav) {
    display: inline-block;

    vertical-align: top;

    width: 50%;
    margin-right: -.4rem;
  }
}