@import '../../../sass-modules/breakpoints';

.logoAndNavbarContainer__callToActionButton {
  margin-top: 1.23rem;
  display: none;

  @media screen and (min-width: $break-sidenav) {
    display: block;
    float: right;
  }
}