@import '../../../sass-modules/colors';

.mobileNavMenu__link {
  display: block;

  text-decoration: none;
  color: $body-text;

  padding: 1rem 0 1rem 3rem;

  transition: .2s background-color;

  &:hover,
  &:focus {
    background-color: #d3e9fb;
  }
}