@import '../../../sass-modules/breakpoints';

.service__content {
  @media screen and (min-width: $break-sidenav) {
    width: 45%;
  }
}

.serviceList__item:not(:nth-child(2)) {
  .service__content {
    @media screen and (min-width: $break-sidenav) {
      float: left;
    }
  }
}

.serviceList__item:nth-child(2) {
  .service__content {
    @media screen and (min-width: $break-sidenav) {
      float: right;
    }
  }
}