@import '../../../sass-modules/breakpoints';

.service__content {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: $break-sidenav) {
    text-align: left;
    width: 44%;
  }
}

.serviceList__item:not(:nth-child(2)) {
  .service__content {
    @media screen and (min-width: $break-sidenav) {
      float: left;
    }
  }
}

.serviceList__item:nth-child(2) {
  .service__content {
    @media screen and (min-width: $break-sidenav) {
      float: right;
    }
  }
}